nav {
    display: block;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-youtube {
    height: 180px;
    width: 240px;
    margin-right: 25px;
}

#logging-img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
}

#searchVideos {
    /* width: 700px;
    height: 30px; */
    width: 55%;
    height: 30px;
}

#right-icons {
    display: flex;
}

#main-container {
    display: flex;
    justify-content: space-around;
}

#main-video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

#related-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

#avatar {
    display: flex;
}

#avatar-img {
    border-radius: 40%;
    border-color: black;
    border: 1px solid black;
}

#published-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

iframe {
    height: 100%;
    width: 100%;
}

#social-share-description {
    display: flex;
    justify-content: space-between;
}

#views {
    color: grey;
}

#button-subscription {
    background-color: #CC0000;
    color: white;
    height: 42px;
    width: 134px;
    font-size: 14px;
    font-family: "Roboto", "Noto", sans-serif;
    text-transform: uppercase;
}

#author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#avatar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#desc-paragraph {
    display: flex;
    justify-content: flex-start;
}

#desc-paragraph {
    width: 52%;
    margin: 0 10%;
    line-height: 2.3;
}

hr {
    color: rgb(44, 20, 20);
    ;
    width: 100%;
}