nav {
    /* background-color: green; */
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-container {
    display: flex;
    justify-content: space-around;
}

#main-video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#related-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#avatar {
    display: flex;
}

#avatar-img {
    border-radius: 40%;
    border-color: black;
    border: 1px solid black;
}

#author {
    display: flex;
}

#published-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}