nav {
    display: block;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-youtube {
    height: 180px;
    width: 240px;
    margin-right: 25px;
}

#logging-img {
    height: 50px;
    width: 50px;
    margin-right: 50px;
}

#searchVideos {
    width: 700px;
    height: 30px;
}

#main-container {
    display: flex;
    justify-content: space-around;
}

#main-video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

#related-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
}

#avatar {
    display: flex;
}

#avatar-img {
    border-radius: 40%;
    border-color: black;
    border: 1px solid black;
}

#author {
    display: flex;
}

#published-time {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

iframe {
    height: 100%;
    width: 100%;
}

#views {
    color: grey;
}